.hr h2 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
}

.hr h3 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;

}

.hr h4 {

    font-family: Inter;
    font-size: 16px;
    font-weight: 600;


}